*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: #EAEAEA;
    background: #1E1E1E;
    line-height: 1.6;
    font-family: "Roboto", serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin: 0 114px 0 107px ;*/
}

#editorjs{
    font-family: "Roboto", serif;
    font-size: 15px;
    color: #EAEAEA;
    h1,h2,h3,h4,h5{
        font-size: 30px;
    }
}

h1, h2, h3, h4, h5, h6{
    padding-top: 15px;
    font-size: 31px;
}

.image-tool__caption {
    display: none !important;
}

.ce-block__content{
    margin: 0;
    max-width: 621px;
}

.content {
    max-width: 621px;
    width: 100%;
}