*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: #EAEAEA;
    background: #1E1E1E;
    line-height: 1.6;
    font-family: "Roboto", serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container{
    margin: 0 114px 0 107px ;
}

#editorjs{
    font-family: "Roboto", serif;
    font-size: 15px;
    color: #EAEAEA;
    h1,h2,h3,h4,h5{
        font-size: 30px;
    }
}

.hidden{

}